#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73ADDA;
    padding: 20px; 
    width: 220px;
    height: 150px;    
}

#rcornersPhoto{
    border-radius: 15px;
    border: 2px solid #73ADDA;
    padding: 20px; 
    width: 50px;
    height: 30px;    
}

div#rcornersPhoto{
display: flex;
}

div#rcornersPhoto img{ 
max-height: 100%;
max-width: 100%;
}